.page-container {
  height: 100vh;
  display: flex;
  background: #fffcfc;
}

.card-wrapper {
  display: flex;
  width: 100%;
}

/*LADO ESQUERO (HERO VERDE) */
.hero-section {
  flex: 1;
  background: linear-gradient(135deg, #1fa64b, #36c275);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
  position: relative;
  overflow: hidden;
}

.hero-content {
  max-width: 400px;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1.2;
}

.hero-content .highlight {
  font-style: italic;
  font-weight: 400;
}

.hero-content p {
  margin-top: 20px;
  font-size: 16px;
  opacity: 0.9;
}

/*BOLINHA DO HERO */
.hero-section::before,
.hero-section::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

/*BOLINHA GRANDE */
.hero-section::before {
  width: 150px;
  height: 150px;
  top: 60px;
  left: 60px;
}
/*BOLINHA PEQUENA */
.hero-section::after {
  width: 100px;
  height: 100px;
  bottom: 400px;
  right: 60px;
}

/*LADO DIREITO LOGIN */
.login-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*CARD DE LOGIN */
.login-box {
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  justify-content: center;
}
/*CABEÇALHO */
.login-header {
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.login-header h5 {
  font-size: 30px;
  margin-top: 10px;
}

.brand span {
  font-weight: bold;
  font-size: 18px;
  color: #1fa64b;

}

/*INPUTS*/
.form-group {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #dad3d3;
  margin-top: 10px;
}

input:focus {
  outline: none;
  border-color: #1fa64b;
}

.error-text {
  color: red;
  font-size: 13px;
  margin-top: 6px;
}

/*SENHA + BOTÃO MOSTRAR*/
.password-group {
  display: flex;
  gap: 5px;
}

.password-group button {
  background: none;
  border: solid 1px #dad3d3;
  border-radius: 8px;
  color: #1fa64b;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}
/*LINKS */
.links-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 25px;
  font-size: 14px;
  font-weight: bold;
}

.links-row a {
  color: #6d6b6b;
  text-decoration: none;
}

/*BOTÃO ENTRAR*/
.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #1fa64b;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-login:hover {
  background: #18873c;
} 
