* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    padding-left: 150px;
    border-bottom: 1px solid #ddd;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-circle {
    width: 40px;
    height: 40px;
    background-color: #16a34a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #000000;
}

.menu .active {
    color: #16a34a;
    font-weight: bold;
}

.search {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #000000;
}

.container {
    padding: 40px;
    padding-left: 150px;
    width: 100%;
}

/* TOP SECTION */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.btn {
    background-color: #07c04b;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 28vh;
}

.btn:hover {
    background-color: #15803d;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    width: 100%;
}

.card {
    background-color: rgb(232, 249, 240);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.card h3 {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 28px;
    margin-bottom: 5px;
}

.card p {
    font-size: 14px;
    color: #16a34a;
}